[program:{{ project_name }}-{{ worker.node_name }}]
command={{ package_manager_command }} {{ virtualenv }}/bin/celery worker --app {{ project_name }} -Q {{ worker.queues | default(celery) }} -n {{ worker.node_name }}@{{ inventory_hostname }} {% if worker.pool is defined %}--pool={{ worker.pool }}{% endif %} --concurrency={{ worker.concurrency| default(1) }} --loglevel={{ worker.loglevel | default("info") }}
user={{ project_user }}
numprocs=1
directory={{ app_working_dir }}
{% if item.env_vars|d({}) %}environment={% for key, value in item.env_vars.items() %}{{ key }}="{{ value }}"{% if not loop.last %},{% endif %}{% endfor %}{% endif %}

stdout_logfile={{ project_logs }}/{{ project_name }}-{{ worker.node_name }}.log
redirect_stderr=true
stdout_logfile_maxbytes=2000000
stdout_logfile_backups=0
autostart=true
autorestart=true
startsecs=10
stopwaitsecs = 30
